<!DOCTYPE html>
<html lang="en">
<%- include("head.ejs") %>
<body>
  <section id="title-section">
    <h1 class="title">
      Formula 1 <br />
      Thingy
    </h1>
    <div class="form-container"><%- include("form.ejs") %></div>
  </section>
  <section id="information-section">
    <% if(locals.meetingInfo){ %>
    <%- include("info.ejs") %>
    <% } %>
  </section>
  <section id="result-section">
    <% if(locals.sessionResult){ %>
    <%- include("results.ejs") %>
    <% } %>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="js/main.js" charset="UTF-8"></script>
</body>

</html>