<div class="information-container">
  <img src="<%= meetingInfo.circuit_image %>" class="track-image" />
  <div class="information-card">
    <h2><%= meetingInfo.meeting_official_name %></h2>
    <hr />
  </div>
</div>
