<div class="laps-graph-container">
    <h2>Lap Times</h2>
    <%- include("laps-form.ejs") %>
    <div id="laps-chart"></div>
    <div id="tooltip"></div>
    <div id="legend"></div>
    <button id="lap-reset">Reset</button>
</div>