<div class="laps-graph-container">
  <%- include("laps-form.ejs") %>
  <h2 id="lap-title">Lap Times</h2>
  <div id="laps-chart">
  </div>

  <h2>Fastest Lap Speed Trace</h2>
  <div id="speed-chart"></div>
  <div id="tooltip"></div>
  <div id="legend"></div>
  <button id="lap-reset">Reset</button>
</div>
