body {
  background-color: #061E29;
}

.title {
  font-family: "JetBrains Mono", monospace;
  font-size: 5rem;
  color: white;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.select {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #333;
  background: #F3F4F4;
  color: black;
  font-size: 1rem;
}

.select:focus {
  outline: none;
  border-color: #1D546D;
}

.form-submit {
  padding: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 8px;
  border: none;
  background: #5F9598;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.form-submit:hover {
  background: #1D546D;
}