body {
  background-color: #061E29;
}

.title {
  font-family: "JetBrains Mono", monospace;
  font-size: 5rem;
  color: white;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.select {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #333;
  background: #F3F4F4;
  color: black;
  font-size: 1rem;
}

.select:focus {
  outline: none;
  border-color: #1D546D;
}

.form-submit {
  padding: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 8px;
  border: none;
  background: #5F9598;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.form-submit:hover {
  background: #1D546D;
}

.information-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
  background-color: #1D546D;
  padding: 1rem;
}

.track-image{
  max-width: 500px;
  background-color: white;
  border-radius: 10%;
  /* margin-right:3rem */
}

@media (max-width: 860px) {
  .information-container {
    flex-direction: column;  
    align-items: center;
  }

  .track-image,
  .information-card {
    width: 100%;            
    max-width: 500px;
    margin-left: 1rem;  
    margin-right: 1rem; 
  }

  .title{
    font-size: 2rem;
  }
}

.information-card {
  display: flex;
  flex-direction: column;
  background-color: #F3F4F4;
  max-width: 400px;
  padding: 16px;
  border-radius: 10px;
}

.information-card h2 {
  margin: 0;
  overflow-wrap: break-word;
  text-align: center;
  font-family: "anta";
}

.information-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* 2 columns */
  grid-template-rows: 1fr 1fr;   /* 2 rows */
  gap: 15px;                       /* space between boxes */
  margin-top: 20px;
}

.grid-item {
  background-color: #333;
  padding: 15px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.information-grid-container h3{
  color: white;
  font-size: 1.2rem;
  font-family: "Anta";
}

.information-grid-container h3.date{
  color: white;
  font-size: 1.2rem;
}

.country-flag img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.result-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.result-grid{
  display: grid;
  gap: 0.5rem;
  width: 70%;
  grid-template-columns: auto;
}

.result-grid h3{
  font-family: "anta";
}

.result-item{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.1rem 1.5rem;
  background-color: #5F9598;
  border-radius: 3rem;
  width: 100%;
}

.result-left{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.result-right{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.driver-image{
  height: 3rem;
  background-color: white;
  border-radius: 50%;
}